name: Test PR

on:
  pull_request:
    branches:
      - main

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      
    - name: Run cargo tests in dev container
      uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
      with:
        runCmd: |
          make test
        imageName: ghcr.io/surrealdb/surreal-sync-devcontainer
        cacheFrom: ghcr.io/surrealdb/surreal-sync-devcontainer
        push: never
        configFile: .devcontainer/surreal-sync/devcontainer.json
